<div class="navbar">
    <div>
        <h1><a href="<%= home_path %>">Lang.Up</a></h1>
    </div>
    <nav>
        <% if user_signed_in? %>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <%= link_to 'New Lesson', new_lesson_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'My Lessons', lessons_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <%# <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div> %>
                        <%= link_to "Log out", destroy_user_session_path, method:'delete', class: "dropdown-item" %>                    
                    </div>
                </li>
            </ul>
            
        <% end %>
    </nav>
</div>