<h1> Find A Lesson </h1>

        <% lesson_count = 0 %>

        <% @lessons.each do |lesson| %>
                <div class="lessons_card">
                
                    <p>Date: <%= lesson.lesson_date.strftime("%A, %d %B %Y") %></p> 
                    <p>Language: <%= lesson.language.name %></p> 
                    <p>Difficulty: <%= lesson.difficulty %></p> 
                    <%= link_to "See Lesson Details", lesson_path(lesson.id)%>
                    
                </div>
        <% lesson_count += 1%>
        <% end %>
        
         <% if lesson_count == 0%>

                <p> Oh no! There are no current lessons scheduled in your selected languages. Please bookmark this page and check back again soon!</p>

        <% end %>

