/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

body {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.background-container {
  background: url("world_globe.png") no-repeat center center;
  background-size: cover;
  height: 900px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.align-to-center {
  padding-top: 260px;
  color: #ffffff;
  font-weight: 1000;
  font-size: 40px;
}

.view-container {
    width: 600px;
    margin: 0px auto;
    padding-top: 50px;
}

.lesson-container {
  width: 400px;
  margin: 0px auto;
  padding-top: 50px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container {
  width: 300px;
  margin: 0px auto;
  padding-top: 100px;
}

.comments-section {
  padding-top: 40px;
}

.card {
  margin-top: 20px;
}

.view-headers {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 38px;
}

.btn-margin {
  margin-top: 20px;
  margin-top: 20px;
}