body {
    margin: 0px auto;
    width: 100%;
    text-align: center;
}

.background-container {
    background: url('world_globe.png') no-repeat center center;
    background-size: cover;
    height: 800px;

    .align-to-center {
        padding-top: 230px;
        color: #ffffff;
        font-weight: 800;
    }
}
